  <label for="name">Beer Name</label>
  <input type="text" id="name" placeholder="Beer Name ..." name="name" value="<%= @beer.name %>">

  <label for="country">Country</label>
  <input type="text" id="country" name="country" value="<%= @beer.country %>">

  <label for="brewer">Brewer</label>
  <input type="text" id="brewer" name="brewer" value="<%= @beer.brewer %>">

  <button type="submit">Submit</button>